<?php

// ----------- General Variables -----------

// autorefresh interval for the status webpage in seconds
$autoRefreshInSeconds = 120;

// coinmarketcap ticker URL for nano
$cmcTickerUrl = 'https://api.coinmarketcap.com/v1/ticker/?convert=EUR';

// version number
$versionString = '1.1';

// url where you get redirected when clicking the top left nano icon
$homeURL = 'https://nano.org';

// nanode.co api key
$nanodeKey = "";


// ----------- Nano Node Variables -----------

// ip address for RPC (default: 127.0.0.1)
$nanoNodeRPCIP   = '127.0.0.1';

// ip address for RPC (default: 7076)
$nanoNodeRPCPort = '7076';

// node account
$nanoNodeAccount = 'xrb_1f56swb9qtpy3yoxiscq9799nerek153w43yjc9atoaeg3e91cc9zfr89ehj'; 

// donation account
$nanoDonationAccount = 'xrb_1f56swb9qtpy3yoxiscq9799nerek153w43yjc9atoaeg3e91cc9zfr89ehj';

// About Me text (may include html tags)
$aboutMe = <<<EOT
Write your about me text between the EOT.
EOT;
?>
