body { background-color: #0078b6; }
h1 { color: #ffffff; font-family: 'Lucida Sans', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }
h2 { color: #ffffff; font-family: 'Lucida Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }
h3 { color: #ff0000; font-family: 'Lucida Sans', sans-serif; font-size: 18px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }
.small { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 14px; line-height: 26px; text-indent: 30px; margin: 0; }
.medium{ color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 18px; line-height: 26px; text-indent: 30px; margin: 0; }
td { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 18px; line-height: 26px; text-indent: 30px; margin: 0; }
a { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }
div.float { border-color: #b7d800; border-style:solid; border-size:10px; margin:5px; } 
hr { color: #eff1f0; opacity: 0.2; margin:30px }
