body { background-color: #0e1121; }
h1 { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 18px; font-weight: 100; line-height: 58px; margin: 0 0 28px; }
h2 { color: red; font-family: 'Lucida Sans', sans-serif; font-size: 18px; font-weight: 100; line-height: 58px; margin: 0 0 28px; }
div.float { border-size:0px; margin:5px; width:700px} 
hr { border-color: #e68634; opacity: 0.2; text-align:left; margin: 30px auto 30px 0px; width:75%}
.medium{ color: #e68634; font-family: 'Lucida Sans', sans-serif; font-size: 15px; font-weight: 100; line-height: 22px; text-indent: 20px; 
         -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none}
.small { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 14px; font-weight: 100; line-height: 22px; text-indent: 20px; 
         -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none}
.tiny { color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 12px; font-weight: 100; line-height: 22px; text-indent: 20px; 
        -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none}
.ticker { border:0px; opacity: 0.8; background-color: #e68634; color: #0e1121; font-family: 'Lucida Sans', sans-serif; font-size: 11px; font-weight: 100; text-indent: 8px; 
        -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none}

.aboutme {color: #eff1f0; font-family: 'Lucida Sans', sans-serif; font-size: 14px; font-weight: 100; line-height: 22px; padding-left: 40px;
         -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none}
