body {
    padding-top: 120px
}

pre {
    background: #f7f7f9
}

@media (min-width: 768px) {
    body>.navbar-transparent {
        box-shadow: none
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        box-shadow: none
    }
}

#home {
    padding-top: 0px
}

#home .navbar {
    transition: box-shadow 200ms ease-in
}

#home .navbar-brand .nav-link {
    display: inline-block;
    margin-right: -30px
}

#home .navbar-brand img {
    display: inline-block;
    margin: 0 10px;
    width: 30px
}

#home .btn {
    padding: 0.6em 0.7em;
    box-shadow: none;
    font-size: 0.7rem
}

.bs-docs-section {
    margin-top: 4em
}

.bs-docs-section .page-header h1 {
    padding: 2rem 0;
    font-size: 3rem
}

.dropdown-menu.show[aria-labelledby="themes"] {
    display: flex;
    width: 420px;
    flex-wrap: wrap
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item {
    width: 33.333%
}

.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item:first-child {
    width: 100%
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

#footer {
    margin: 5em 0
}


#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

#footer p {
    clear: left;
    margin-bottom: 0
}

.splash {
    padding: 12em 0 3em;
    background-color: #2196F3;
    color: #fff;
    text-align: center
}

.splash .logo {
    width: 160px
}

.splash h1 {
    font-size: 3em;
    color: #fff
}

.splash #social {
    margin: 2em 0 3em
}

.splash .alert {
    margin: 2em 0;
    border: none
}

.splash .sponsor a {
    color: #fff
}

.section-tout {
    padding: 6em 0 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: 0.2em
}

.section-tout p {
    margin-bottom: 5em

}

h2 {
   margin-top: 1em;
   color: #ea882e
}

a.donationButton { /* Nano orange */
    background-color: #ea882e;
    color: #f7f7f9;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
} 



input[type=number] { /* Nano orange */
    border: 6px solid #ea882e;
    color: black; 
    width: 20%;
    padding: 5px 5px;
    font-size: 14px;
    margin: 4px 2px;
    box-sizing: border-box;
    border-radius: 4px;
} 

.list-group-item:hover {
    background: #3e444c;
}

.truncate { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}